#exp_fr {
    .container {
        background-color: lightblue;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;     /* Auto = Ocupa lo que el texte ocupe // 25% 50% 25% */
        grid-template-rows: 1fr 1fr 3fr;        /* Suma = 6, entonces 1fr = 1/6 del contenedor (NO DE LA PANTALLA) 2fr = 2/6 del contenedor, etc. */

        gap: 10px;  /* Separa las celdas // metodo abreviado 10px 30px (Arriba Abajo) (Costados) // Similar (No =) a los margenes */
        grid-auto-rows: 2fr;    /* Todas las nuevas filas q se agg van a tener esta medida especifica */
    }

    .items {
        background-color: lightgreen;
        padding: 10px;
        border: 1px dotted black;
    }
}

#gridline {
    *{font-family: Verdana;}
    .contenedor {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        /* Ver líneas de rejilla */
    }

    .caja {
        background-color: slateblue;
        padding: 10px;
        color: white;
        text-align: center;
    }

    .caja1 {
        grid-column: 1 / 6; /*Desde la línea 1 hasta la 6 de ancho*/
        background-color:navy;
    }
    .caja2 {
        grid-row: 2 / 5; /*Desde la línea 2 hasta la 5 inclusive en alto*/
        background-color:darkgreen;
    }
    .caja3{
        grid-row: 5 / span 4; /* Desde la fila 5, ocupa 4 filas*/
        background-color:indigo;
    }
    .caja4{
        grid-column: 2 / span 3; /* Desde la columna 2, ocupa 3 columnas*/
        background-color:orange;
    }
    .caja5{
        grid-column: 2 / 5; /*Desde la línea 2 hasta la 5 inclusive de ancho*/
        grid-row: 5 / 9; /*Desde la línea 5 hasta la 7 inclusive en alto*/
        background-color:tomato;
    }
    /* Más ejemplos en: https://www.w3schools.com/css/css_grid_item.asp*/

}