* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana;
}

header{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    align-items: center;
}

main{padding: 30px 20px;}

h2{margin-bottom: 10px;}

p{margin: 16px 0px;}

a[name] {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;
}

a, .enlace{text-decoration: none;}

hr{margin: 20px 0px;}

.enlace{
    padding: 30px 15px;
    color: blue;
}

.enlace:hover{background-color: white;}

.codigo {
    font-family: 'Courier New';
    background-color: lightblue;
    font-weight: bold;
}

/*----------------- Ejemplo 1 --------------------------*/
.item {
    grid-area: miArea;
}

.grid-container1 {
    display: grid;
    grid-template-areas: 'miArea miArea miArea miArea miArea';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container1 > div, .grid-container2 > div, .grid-container3 > div, .grid-container4 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/*----------------- Ejemplo 2 --------------------------*/
.item1 {
    grid-area: miArea;
    background-color: lightcoral !important;
}
.item5 {
    grid-area: miArea2;
    background-color: lightgreen !important;
}
.item11 {
    grid-area: miArea3;
    background-color: lightyellow !important;
}
.grid-container2 {
    display: grid;
    grid-template-areas: 'miArea miArea . . .'
                         '. miArea2 miArea2 miArea2 .'                     
                         '. . . miArea3 miArea3';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

/*----------------- Ejemplo 3 --------------------------*/
.item-grande {
    grid-area: miArea;
    background-color: lightcoral !important;
}

.grid-container3 {
    display: grid;
    grid-template-areas: 'miArea miArea . . .'
                         'miArea miArea . . .'
                         'miArea miArea . . .';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

/*----------------- Ejemplo 4 --------------------------*/
.item-header {grid-area: header;} /*Encabezado*/
.item-menu {grid-area: menu;} /*Menú*/
.item-main {grid-area: main;} /*Principal*/
.item-aside {grid-area: aside;} /*Aside*/
.item-footer {grid-area: footer;} /*Pie*/

.grid-container4 {
    display: grid;
    grid-template-areas:
        /*6 columnas y 3 filas*/
        'header header header header header header'
        'menu main main main main aside'
        'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}