body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1A2069;
    padding: 150px;
}

form {
    background-color: #000540;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 100px rgb(255, 255, 255);
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

input[type="submit"], input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:active, input[type="reset"]:active {
    background-color: #007bff;
}

div.button-group {
    text-align: center;
}